node_modules
.env
.env.develop
node_modules
dist
**/.DS_Store
ormconfig.json
ormconfig.json.local
ormconfig.json.dev
ormconfig.json.prod
ormconfig.json.staging
.env.testing
.env.alpha
.env.prod
.env.staging

ormconfig.ts.dev
ormconfig.ts.staging
ormconfig.ts.prod